#about {
  background: #080808;
  color: #fff;
  padding: 80px 0;
}
.row1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.subtitle {
  font-size: 40px;
  color: white;
  font-weight: 600;
  text-align: center;
}
.row2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 400px;
  border-radius: 25px;
}
.about-col-2 {
  flex-basis: 60%;
}
.subtitle {
  font-size: 40px;
  color: white;
  font-weight: 600;
  text-align: center;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  font-size: 20px;
  font-weight: 500;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #dee41f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #dee41f;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
@media (min-width: 1024px) and (max-width: 1024px) {
    .container{
      display: inline;
    }  
}

@media (max-width: 900px) {
  .sub-title {
    margin: 0px 0;
    display: block;
  }
  .about-col-1{
    text-align: center;
  }
}
@media (max-width: 700px) {
  .subtitle {
    margin-bottom: 18px;
    font-size: 1.4em;
  }
}