.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 65%;
}
.contact-left p {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-left p i {
  font-size: 20px;
  margin-right: 15px;
  color: #dedb47;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  color: #fff;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #dedb47;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #dedb47;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  padding: 15px;
  margin: 15px;
  background: #262626;
  border: 0;
  color: white;
  outline: none;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  cursor: pointer;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 6px;
  margin-left: 10px;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: #dedb47;
}
/* ---------------------css for making responsive----------------- */

@media only screen and (max-width: 900px) {
  #header {
    background-image: url("./assets/kumarresponsive.png");
    background-size: cover;
  }
  .header-text {
    margin: 10% 5%;
    font-size: 17px;
  }
  .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-col-1,
  .about-col-2,
  .contact-left,
  .contact-right {
    flex-basis: 100%;
    max-width: 100%;
  }
  .about-col-1 img {
    width: 90vw;
    max-width: 320px;
    margin-bottom: 30px;
  }
  .about-col-2 {
    margin-top: 0;
  }
  .services-list {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}