html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
   font-family:  "Open Sans", "Jetbrains Mono", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}